.Contact-title {
    color: #222;
    font-size: 2.5rem;
    margin-top: 10%;
    margin-left: 10%;
}

.Contact-Container {
    margin-top: 2%;
    margin-bottom: 2%;
}


.Contact-colm {
    margin-left: -30%;
}


.HContact {
    text-transform: uppercase;
    color: #222;
    font-weight: 500;
    font-size: 1.325rem;
    margin-bottom: 20px;
}

.Contact-Massage {
  
    text-transform: uppercase;
    color: #222;
    font-weight: 500;
    font-size: 1.325rem;
    margin-bottom: 20px;
}


.Contact-detail h6 {
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;

}

.Contact-detail span {
    font-weight: 200;

}

.Contact-form {

    width: 45%;
    height: 50px;
    margin-bottom: 1%;
}

.Form-text {
    margin-left: 50%;
    margin-top: -23.9%;


}

.Form-textarea {
    z-index: 10%;
    position: relative;
    width: 100%;
    height: 165px;
}

.Contact-button{
    padding: 2%;
    width: 30%;
    background-color:green;
    margin-top: 8%;
    margin-left: 70%;
    
}

.asdg{
    height: 200px;
    width: 24%;
    margin-left: 1%;
    flex-wrap: wrap;
}

.office-col{
    margin-top: 2%;
    margin-bottom: 1%;
}